*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(background.png);
    background-size: cover;
    background-position: center;
}
.header{
    margin: 10px;
    padding: 10px;
}
.logo img{
    margin-right: 170px;
    height: 50px;
    width: 13rem;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar a{
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.icons{
    display: flex;
    margin-left: 100px;
    height: 50px;
    width: 50px;
}
.icons img{
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 60px;
}
.contents{
    margin: 50px;
    color:white;
    font-weight: bold;
}
.content_profile{
    border: 1px solid #730404;
    float: left;
    margin-top: 40px;
    padding: 40px;
    height: 76vh;
    width: 29%;
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}
.content_profile a{
    margin-top: 20px;
}
.content_trnshistory{
    display: block;
    border: 1px solid #730404;
    margin-top: 40px;
    padding: 15px;
    float: right;
    height: 37vh;
    width: 62%;
}
.spacing{
    margin-left: 20em;
}
.spacing2{
    margin-left: 10em;
}
.spacing3{
    margin-left: 8em;
}
.spacing4{
    margin-left: 32em;
}
.spacing5{
    margin-left: 10em;
}
.progress{
    border: 1px solid #730404;
    margin-top: 37px;
    padding: 15px;
    float: right;
    height: 37vh;
    width: 62%;
}


