* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}
.container1 {
    height: 85vh;
}
body {
    background: linear-gradient(rgba(0, 0, 0, 0.837), rgba(0, 0, 0, 0.788)), url(pic10.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 100px;
}
        .navbar2 {
            display: flex;
            justify-content: start;
            width: 10rem;
        }
        .menu-a {
            margin-left: 25px;
            font-size: 20px;
            color: grey;
        }
        .menu-a:hover {
            color: white;
            transition: .5s;
        }
.navbar1 {
    display: flex;
    justify-content: flex-end;
    width: 50rem;
}
.navbar1 a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: 25px;
    padding: 5px;
}
.navbar1 #home-link {
    background-color: #730404;
}
.navbar1 a:hover {
    background-color: #730404;
    transition: 0.5s;
}
.notif-bar {
    background-color: black;
    width: 170px;
    height: 200px;
    position: absolute;
    padding: 10px;
    right: 85px;
    border: 1px solid #730404;
    overflow: hidden;
    display: none;
}
.notif-bar p {
    font-size: 10px;
    color: gray;
    margin-bottom: 10px;
}
.notif-bar hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #730404;
    margin-bottom: 5px;
}
.notif {
    width: 130px;
    height: 30px;
    padding: 2px;
    padding-bottom: 5px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}
.notif p {
    font-size: 10px;
    color: gray;
}
.menu-bar {
    position: absolute;
    background-color: black;
    width: 200px;
    right: 50px;
    padding: 10px;
    border: 1px solid #730404;
    display: none;
}
.menu-bar i {
    color: gray;
}
.menu-bar h2 {
    color: gray;
    font-size: 15px;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.menu-bar hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: gray;
    margin-bottom: 5px;
}
.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
    padding: 5px;
}
.sub-menu-link p {
    margin-left: 5px;
    font-size: 10px;
}
.sub-menu-link .arrow {
    margin-left: auto;
    color: gray;
    font-size: 10px;
}
.contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 15vh;
}
.content_profile {
    /* border: 1px solid rgb(206, 255, 206); */
    margin-bottom: 600px;
    width: 20%;
    height: 400px;
    padding: 0 0 50px 20px;

    border: #630000 solid 1px;
    /* text-align: center; */
    /* border-top-right-radius: 60px;
    border-bottom-right-radius: 30px; */
    margin-right: -20px;
}
.content_profile img {
    /* align-items: center; */
    width: 150px;
    height: 150px;
    margin-left: 20%;
    border-radius: 50%;
    /* border: 5px solid #ffffff; */
}
.content_profile a {
    margin-right: 10%;
    margin-bottom: 1000px;
    text-decoration: none;
    color: #fff;
    text-align: left;
    

}
.content_trnshistory {
    margin-bottom: 600px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 30%;
    height: 45vh;
    padding: 20px;
    border: #630000 solid 1px;
    /* border-radius: 10px;
    margin-right: 10px; */
    text-decoration: none;
    color: rgb(159, 0, 0);
}

.content_trnshistory p {

    color: rgb(255, 255, 255);
}

.progress {
    width: 25%;
    padding: 20px;
    margin-bottom: 600px;
    background-color: #00000042;
    border: #630000 solid 1px;
    color: rgb(159, 0, 0);
    /* border-radius: 10px; */
    text-align: center;
}
table {
    color: #ffffff;
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
th, td {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(90, 0, 0);
    text-align: center;
}
.info{
    font-weight: bold;
    color: rgb(212, 255, 0);
}
.spacing {
    margin-left: 300px;
}
.spacing2 {
    margin-left: 140px;
}
.spacing3 {
    margin-left: 110px;
}


