* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.75)), url(pic10.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 100px;
}

.logo img {
    height: 50px;
    width: 13rem;
}

.navbar1 {
    display: flex;
    justify-content: end;
    width: 50rem;
}

.navbar1 a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    margin-left: 25px;
    padding: 5px;
}

.navbar1 #home-link {
    background-color: #730404;
}

.navbar1 a:hover {
    background-color: #730404;
    transition: 0.5s;
}

        .navbar2 {
            display: flex;
            justify-content: start;
            width: 10rem;
        }
        
        /* I EDITED THIS kay ma change ang margin sad sa tanang sa menu-bar <a> to class:menu-a */
        .menu-a {
            margin-left: 25px;
            font-size: 20px;
            color: grey;
        }
        .menu-a:hover {
            color: white;
            transition: .5s;
        }


        .notif-bar p {
            font-size: 10px;
            color: gray;
            margin-bottom: 10px;
        }

        .notif-bar {
            background-color: black;
            width: 170px;
            height: 200px;
            position: absolute;
            padding: 10px;
            right: 85px;
            border: 1px solid #730404;
            overflow: hidden; /* Ensure content doesn't overflow */
            display: none;
            }

        .notif {
            width:130px;
            height: 30px;
            /* border: 1px solid red; */
            padding: 2px;
            padding-bottom: 5px;
            margin-top: 10px;
            overflow: hidden; /* Hides overflow content */
            text-overflow: ellipsis; /* Adds ellipsis (...) to indicate overflow */
            border-radius: 4px;
            }

        .notif-bar hr{
            border: 0;
            height: 1px;
            width: 100%;
            background: #730404;
            margin-bottom: 5px;
            
           
        }
        
        .notif p {
            font-size: 10px;
            color: gray;
        }

        /*notif bar end*/

        /* menu bar edit start */
        .menu-bar {
            position: absolute;
            background-color: black;
            height: 250;
            width: 200px;
            right: 50px;
            padding: 10px;
            border: 1px solid #730404;
            display: none;
        }


        .menu-bar i {
            color: gray;
            margin-right: 0px;
        }

        .menu-bar h2{
            color: gray;
    
        }
        .user-info{
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }
        .user-info h2{
            font-weight: 500;
            font-size: 15px;
            margin: 2px;
        }

        .menu-bar hr {
            border: 0;
            height: 1px;
            width: 100%;
            background: gray;
            margin-bottom: 5px;
        }

        .sub-menu-link{
            display: flex;
            align-items: center;
            text-decoration: none;
            color: gray;
            margin-top: 10px;
        }

        .sub-menu-link:hover{
            transform: translateX(5px);
            background-color:#73040486 ;
        }

        

        .sub-menu-link p{
            text-align: left;
            position: absolute;
            margin-left: 22px;
        }

        .arrow{
            position: absolute;
            margin-left: 170px;
            
        }

        

h2 {
    /* margin-top: 40px; */
    text-align: center;
    position: absolute;
    margin-left: 400px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.contents{
    display: flex;
    border: 1px solid #730404;
    margin: 1px;
    margin-bottom: -10%;
    margin-left: 95px;
    padding: 20px;
    height: 80vh;
    width: 90%;
    color:white;
    font-weight: bold;
}
.vertical-line{
    float:right;
    margin-top: 100px;
    margin-left: 10px;
    width: 1px;
    height: 500px;
    background-color:#730404;

}
.section{
    margin: 35px;
    padding: 20px;
    width: 15%;
}
.spacing{
    margin-left: 3em;
}
