*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.banner{
    width: 100%;
    height: 130vh;
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.76)), url(background.png);
    background-size: cover;
    background-position: center;
}
.header{
    margin: 10px;
    padding: 10px;
}
.logo img{
    margin-right: 170px;
    height: 50px;
    width: 13rem;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.navbar a{
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.icons{
    display: flex;
    margin-left: 100px;
    height: 50px;
    width: 50px;
}
.icons img{
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 60px;
}
.contents{
    display: flex;
    border: 1px solid #730404;
    margin: 50px;
    margin-left: 95px;
    padding: 20px;
    height: 100vh;
    width: 90%;
    color:white;
    font-weight: bold;
}
.vertical-line{
    float:right;
    margin-top: 100px;
    margin-left: 10px;
    width: 1px;
    height: 650px;
    background-color:#730404;

}
.section{
    margin: 35px;
    padding: 20px;
    width: 15%;
}
.spacing{
    margin-left: 3em;
}

